<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Paste</title>
  
</head>
<body>
    <h1>Create a New Paste</h1>

    <form action="/pastebin/createpaste" method="post">

        <label for="username"><b>Username</b></label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
        <br><br>


        <label for="password"><b>Password</b></label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
        <br><br>


        <label for="content"><b>Enter Note</b></label>
        <textarea id="content" name="content" placeholder="Write your paste content here..." rows="5" cols="40" required></textarea>
        <br><br>


        <button type="submit">paste note</button>
    </form>

    <script src="{{ url_for('mybp.static', filename='myscript.js') }}"></script>
</body>
</html>
